# Кеш Python (генерується автоматично під час запуску коду)
__pycache__/
*.pyc
*.pyo
*.pyd

# Віртуальне середовище (папка із чужими завантаженими бібліотеками)
.venv/
venv/
ENV/
env/

# Налаштування середовищ розробки (ваші особисті шрифти та розміри вікон)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Секретні файли (паролі, токени ботів, доступи до баз даних)
.env
.env.local
*.podspec.lock

# Системне сміття операційних систем
Thumbs.db
db.properties
.DS_Store
